{% extends 'main.html' %}

{% block content %}

<style>

    .login-page {
        margin: auto;
        max-width: 612px;
    }

    .login-page .form .login {
        padding: 20px 0px;
    }

    .form {
        background: #272640;
        color: white;
        position: relative;
        text-align: center;
        /* background: #FFFFFF; */
        max-width: fit-content;
        margin: 0 auto 100px;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        outline: 0;
        /* background: #f2f2f2; */
        color: white;
        background: #1b3a4b;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: black;
        text-decoration: none;
    }

    .form .message a:hover {
        color: wheat;
    }

    .form .btn {
        width: 40%;
    }

    .login-form label {
        width: 100%;
        text-align: left;
        padding: 5px;
    }

    #id_bio {
        outline: 0;
        background: #1b3a4b;
        color: white;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        height: 150px;
        resize: none;
    }

    #text {
        display: none;
    }
</style>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>Update</h3>
                <p>Please enter your credentials to update.</p>
            </div>
        </div>
        <form class="login-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <label for="">{{field.label}}:</label>
            {{field}}
            {% endfor %}
            <!-- <input type="text" value="" placeholder="Username" name="username"> -->
            <!-- <input type="password" value="" placeholder="Password" name="password"> -->
            <input class="btn bt-lg bg-dark text-light rounded-pill my-2" type="submit" role="button" value="Submit">
        </form>
        <!-- <p class="message">Don't have an account? <a href="{% url 'register' %}">SignUp</a></p> -->
    </div>
</div>
{% endblock %}